<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-01-05T13:32:02</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40290b2a-6b73-4115-886c-8e00c2154ed6">home</Template>
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[umb://media/5598b628b39045328bb5dab06089e9d7]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialLinks>
      <Value><![CDATA[[
  {
    "key": "b68b6698-b081-4b3a-a411-08e07ef9b0a5",
    "name": "fab fa-github",
    "ncContentTypeAlias": "iconLinkItem",
    "iconClass": "fab fa-github",
    "link": "[{\"name\":\"Get the source code on GitHub\",\"target\":\"_blank\",\"url\":\"https://github.com/prjseal/Clean-Boostrap-Starter-Kit-for-Umbraco\"}]"
  },
  {
    "key": "c7507a1f-de7c-402a-9e3c-02b59b088e61",
    "name": "fas fa-box-open",
    "ncContentTypeAlias": "iconLinkItem",
    "iconClass": "fas fa-box-open",
    "link": "[{\"name\":\"View this starter kit on Our Umbraco\",\"target\":\"_blank\",\"url\":\"https://our.umbraco.com/packages/starter-kits/clean-starter-kit/\"}]"
  },
  {
    "key": "3aed33e3-57b2-4a8b-9a1f-821ee19cae12",
    "name": "fab fa-twitter",
    "ncContentTypeAlias": "iconLinkItem",
    "iconClass": "fab fa-twitter",
    "link": "[{\"name\":\"Follow me on twitter\",\"target\":\"_blank\",\"url\":\"https://twitter.com/CodeSharePaul\"}]"
  },
  {
    "key": "14392e8f-97d5-4e8d-915b-120195561cb4",
    "name": "fas fa-share-alt",
    "ncContentTypeAlias": "iconLinkItem",
    "iconClass": "fas fa-share-alt",
    "link": "[{\"name\":\"Read my blog codeshare.co.uk\",\"target\":\"_blank\",\"url\":\"https://codeshare.co.uk\"}]"
  },
  {
    "key": "f37b751b-604d-42ce-b323-b6e6976df71f",
    "name": "fas fa-coffee",
    "ncContentTypeAlias": "iconLinkItem",
    "iconClass": "fas fa-coffee",
    "link": "[{\"name\":\"Buy me a coffee\",\"target\":\"_blank\",\"url\":\"https://codeshare.co.uk/coffee\"}]"
  }
]]]></Value>
    </socialLinks>
    <subtitle>
      <Value><![CDATA[For Umbraco]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Clean Starter Kit]]></Value>
    </title>
  </Properties>
</Content>