<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d1cd125-cd39-4f58-8841-7479aef6a922" Alias="Old DocType Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OldDocTypeTest</Path>
    <Trashed>false</Trashed>
    <ContentType>oldDocTypeTest</ContentType>
    <CreateDate>2023-01-27T17:25:36</CreateDate>
    <NodeName Default="Old DocType Test" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <oldText>
      <Value><![CDATA[My doctype changed on the new site! Did I migrate to the new doctype?]]></Value>
    </oldText>
  </Properties>
</Content>