<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a073c8f-47ea-4f06-a1c3-bb0728d2dabd" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-01-09T16:48:18</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <logo>
      <Value><![CDATA[[{"key":"63e0e5ae-68d2-4e85-b32a-cab61c73b2d7","mediaKey":"cc86bc2c-102d-4011-a3ba-df9244d07ca7"}]]]></Value>
    </logo>
  </Properties>
</Content>