<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3f1a867-b26a-440e-83f6-c79dc423e134" Alias="Unpublished Test" Level="2">
  <Info>
    <Parent Key="384d7ede-df86-49a4-9823-dc9506bfe2e0">Migrator Test</Parent>
    <Path>/MigratorTest/UnpublishedTest</Path>
    <Trashed>false</Trashed>
    <ContentType>migratorTest</ContentType>
    <CreateDate>2023-02-08T10:44:58</CreateDate>
    <NodeName Default="Unpublished Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <contentPicker>
      <Value><![CDATA[]]></Value>
    </contentPicker>
    <cultureTest>
      <Value><![CDATA[]]></Value>
    </cultureTest>
    <cultureTest2>
      <Value><![CDATA[]]></Value>
    </cultureTest2>
    <mediaPicker>
      <Value><![CDATA[[{"key":"165a0bb4-c1be-4f94-bf1f-078388ca6c80","mediaKey":"cc86bc2c-102d-4011-a3ba-df9244d07ca7"}]]]></Value>
    </mediaPicker>
    <mediaPickerLegacy>
      <Value><![CDATA[umb://media/a61578a311bb44259fe186a89434e638]]></Value>
    </mediaPickerLegacy>
    <memberGroupPicker>
      <Value><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <multinodeTreePicker>
      <Value><![CDATA[]]></Value>
    </multinodeTreePicker>
    <multinodeTreePickerSingle>
      <Value><![CDATA[]]></Value>
    </multinodeTreePickerSingle>
    <multipleMediaPicker>
      <Value><![CDATA[[{"key":"f84e36aa-9431-4d65-863e-ba3093db0789","mediaKey":"48239f24-1450-49da-9964-934f512dde48"},{"key":"ddfb086f-107a-427f-b39d-b185f6677593","mediaKey":"bbf2800f-1cc5-4ea9-8d2e-b33ff1d5efbe"},{"key":"954e4897-f65f-4802-9d75-c8d514a88cc5","mediaKey":"5598b628-b390-4532-8bb5-dab06089e9d7"}]]]></Value>
    </multipleMediaPicker>
    <multipleMediaPickerLegacy>
      <Value><![CDATA[umb://media/4281aa5815c641a9b07433f40fd09ea9,umb://media/db22bb69b0ae44bb9019a3e6498d4c25,umb://media/dd3840b38621451b9ee901f6ad175ec7]]></Value>
    </multipleMediaPickerLegacy>
    <multiURLPicker>
      <Value><![CDATA[]]></Value>
    </multiURLPicker>
    <nestedContent>
      <Value><![CDATA[]]></Value>
    </nestedContent>
    <oldCultureProperty>
      <Value><![CDATA[]]></Value>
    </oldCultureProperty>
    <oldRenamedPropertyTest>
      <Value><![CDATA[]]></Value>
    </oldRenamedPropertyTest>
    <singleURLPicker>
      <Value><![CDATA[]]></Value>
    </singleURLPicker>
    <updatedMediaPicker>
      <Value><![CDATA[]]></Value>
    </updatedMediaPicker>
    <userPicker>
      <Value><![CDATA[]]></Value>
    </userPicker>
  </Properties>
</Content>