<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe60e50d-7561-47c5-9929-69c8e61b49c1" Alias="Member Group Picker" Level="1">
  <Info>
    <Name>Member Group Picker</Name>
    <EditorAlias>Umbraco.MemberGroupPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>