<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8fba8a8d-5bd6-4815-a42c-056ae5775c12" Alias="Migrator Test - Block List - Block List" Level="1">
  <Info>
    <Name>Migrator Test - Block List - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9a3abaeb-6576-4b1a-bed5-96bf08a8b667",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": "100%"
}]]></Config>
</DataType>