<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b79e02be-a974-43cc-9148-082afbc5e421" Alias="Multinode Tree Picker - Single" Level="1">
  <Info>
    <Name>Multinode Tree Picker - Single</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>