<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa092c31-fc0d-4b6b-9937-5b7c889fdf14" Alias="Multinode Tree Picker - Default" Level="1">
  <Info>
    <Name>Multinode Tree Picker - Default</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>