<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1c617e5-eaf2-4377-8319-3f652d060841" Alias="User Picker - Default" Level="1">
  <Info>
    <Name>User Picker - Default</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>