<?xml version="1.0" encoding="utf-8"?>
<Media Key="b010a237-6066-45c2-9799-d2cb16285e62" Alias="Sample Folder" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SampleFolder</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-03T19:03:32</CreateDate>
    <NodeName Default="Sample Folder" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>