<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc86bc2c-102d-4011-a3ba-df9244d07ca7" Alias="Umbraco Rocket" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/UmbracoRocket</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-09T16:48:14</CreateDate>
    <NodeName Default="Umbraco Rocket" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fk4intbn/umbraco-rocket.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>