<?xml version="1.0" encoding="utf-8"?>
<Media Key="06fd0411-557a-408a-9fb1-062ff6f8dbc8" Alias="Umbracymru Map Logo 4" Level="2">
  <Info>
    <Parent Key="b010a237-6066-45c2-9799-d2cb16285e62">Sample Folder</Parent>
    <Path>/SampleFolder/UmbracymruMapLogo4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-03T19:04:39</CreateDate>
    <NodeName Default="Umbracymru Map Logo 4" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/c2cp0bt0/umbracymru-map-logo-4.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>