<?xml version="1.0" encoding="utf-8"?>
<Content Key="384d7ede-df86-49a4-9823-dc9506bfe2e0" Alias="Migrator Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MigratorTest</Path>
    <Trashed>false</Trashed>
    <ContentType>migratorTest</ContentType>
    <CreateDate>2023-01-24T14:51:58</CreateDate>
    <NodeName Default="Migrator Test" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentPicker>
      <Value><![CDATA[umb://document/704a66deb21344fe815af988c0707bbf]]></Value>
    </contentPicker>
    <cultureTest>
      <Value><![CDATA[This is written in English]]></Value>
    </cultureTest>
    <cultureTest2>
      <Value><![CDATA[Only the english variant should have a value]]></Value>
    </cultureTest2>
    <datePicker>
      <Value><![CDATA[2023-04-01T00:00:00]]></Value>
    </datePicker>
    <datePickerWithTime>
      <Value><![CDATA[2023-04-03T09:35:00]]></Value>
    </datePickerWithTime>
    <mediaPicker>
      <Value><![CDATA[[
  {
    "key": "9f224bee-5a9d-4818-8376-656d08c050b4",
    "mediaKey": "8ac2c7bc-0acb-488e-a4e6-24d9ea5bdff7"
  }
]]]></Value>
    </mediaPicker>
    <mediaPickerLegacy>
      <Value><![CDATA[umb://media/5598b628b39045328bb5dab06089e9d7]]></Value>
    </mediaPickerLegacy>
    <memberPicker>
      <Value><![CDATA[umb://member/db512863d06b4e3e95906a38a10bd374]]></Value>
    </memberPicker>
    <multipleMediaPicker>
      <Value><![CDATA[[
  {
    "key": "7f633417-8cb2-4702-b200-0ec12ebd8261",
    "mediaKey": "bbf2800f-1cc5-4ea9-8d2e-b33ff1d5efbe"
  },
  {
    "key": "37a5f5fc-f80c-45eb-9873-8262b9e04226",
    "mediaKey": "48239f24-1450-49da-9964-934f512dde48"
  },
  {
    "key": "59a5d27e-ce68-40e7-9b63-df35a37927ab",
    "mediaKey": "167ee715-53ff-4a8b-ab50-7d630c8448fa"
  },
  {
    "key": "8ce01d08-0cb9-4ca1-977e-576576bbd738",
    "mediaKey": "861ac5a3-aca5-4db8-85f2-a7ad05e0de30"
  }
]]]></Value>
    </multipleMediaPicker>
    <multipleMediaPickerLegacy>
      <Value><![CDATA[umb://media/13e63ebb2f824e6584f0e3b79241a971,umb://media/dd3840b38621451b9ee901f6ad175ec7,umb://media/db22bb69b0ae44bb9019a3e6498d4c25,umb://media/4281aa5815c641a9b07433f40fd09ea9]]></Value>
    </multipleMediaPickerLegacy>
    <multiURLPicker>
      <Value><![CDATA[[
  {
    "name": "Community",
    "udi": "umb://document/2cb4c092564a42c69b18bd31e117004e"
  },
  {
    "name": "Google",
    "target": "_blank",
    "url": "https://www.google.co.uk/"
  },
  {
    "name": "Community front row",
    "udi": "umb://media/167ee71553ff4a8bab507d630c8448fa"
  }
]]]></Value>
    </multiURLPicker>
    <oldCultureProperty>
      <Value><![CDATA[This is written in English. 10]]></Value>
    </oldCultureProperty>
    <oldRenamedPropertyTest>
      <Value><![CDATA[Did I get mapped correctly?]]></Value>
    </oldRenamedPropertyTest>
    <richText>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p><img src="?width=240&amp;height=165&amp;mode=max" alt="" width="240" height="165" data-udi="umb://media/13e63ebb2f824e6584f0e3b79241a971" /></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p><img src="?width=182&amp;height=119&amp;mode=max" alt="" width="182" height="119" data-udi="umb://media/dd3840b38621451b9ee901f6ad175ec7" /></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
<p><a href="/{localLink:umb://document/d28b8bc8720448029c2d6fd7c5a5e0aa}" title="Conferences">Conferences</a></p>
<p>Ciao</p>]]></Value>
    </richText>
    <singleURLPicker>
      <Value><![CDATA[[
  {
    "name": "Contact",
    "udi": "umb://document/14e766739b714259aac3fc9507eb3bdb"
  }
]]]></Value>
    </singleURLPicker>
    <updatedMediaPicker>
      <Value><![CDATA[umb://media/0521b48598b6409dad358745f3e4287c,umb://media/167ee71553ff4a8bab507d630c8448fa,umb://media/13e63ebb2f824e6584f0e3b79241a971]]></Value>
    </updatedMediaPicker>
  </Properties>
</Content>