<?xml version="1.0" encoding="utf-8"?>
<Content Key="1aee817d-165f-41f6-a3ed-c7ee3459d3d6" Alias="Public Access Test 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PublicAccessTest2</Path>
    <Trashed>false</Trashed>
    <ContentType>migratorTest</ContentType>
    <CreateDate>2023-02-21T11:33:38</CreateDate>
    <NodeName Default="Public Access Test 2" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentPicker>
      <Value><![CDATA[]]></Value>
    </contentPicker>
    <cultureTest>
      <Value><![CDATA[]]></Value>
    </cultureTest>
    <cultureTest2>
      <Value><![CDATA[]]></Value>
    </cultureTest2>
    <datePicker>
      <Value><![CDATA[]]></Value>
    </datePicker>
    <datePickerWithTime>
      <Value><![CDATA[]]></Value>
    </datePickerWithTime>
    <mediaPicker>
      <Value><![CDATA[[]]]></Value>
    </mediaPicker>
    <mediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </mediaPickerLegacy>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <multipleMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </multipleMediaPicker>
    <multipleMediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </multipleMediaPickerLegacy>
    <multiURLPicker>
      <Value><![CDATA[]]></Value>
    </multiURLPicker>
    <oldCultureProperty>
      <Value><![CDATA[]]></Value>
    </oldCultureProperty>
    <oldRenamedPropertyTest>
      <Value><![CDATA[]]></Value>
    </oldRenamedPropertyTest>
    <richText>
      <Value><![CDATA[]]></Value>
    </richText>
    <singleURLPicker>
      <Value><![CDATA[]]></Value>
    </singleURLPicker>
    <updatedMediaPicker>
      <Value><![CDATA[]]></Value>
    </updatedMediaPicker>
  </Properties>
</Content>