<?xml version="1.0" encoding="utf-8"?>
<Content Key="5455946a-0b11-4e44-bc46-9f88cb6633b4" Alias="Scheduled Blog Test" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/ScheduledBlogTest</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-01-27T16:37:23</CreateDate>
    <NodeName Default="Scheduled Blog Test" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-10-31T12:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[umb://media/8ac2c7bc0acb488ea4e624d9ea5bdff7]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <showFullArticleOnListPage>
      <Value><![CDATA[]]></Value>
    </showFullArticleOnListPage>
    <subtitle>
      <Value><![CDATA[Am I scheduled?]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Scheduled Blog Test]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>