<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a4fd592-ab56-4dcd-94d0-c0b6ed66fee8" Alias="Variant Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VariantTest</Path>
    <Trashed>false</Trashed>
    <ContentType>migratorVariantTest</ContentType>
    <CreateDate>2023-04-03T15:24:07</CreateDate>
    <NodeName Default="Variant Test">
      <Name Culture="cy-gb">Prawf Amrywiad</Name>
      <Name Culture="en-gb">Variant Test</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="cy-gb">true</Published>
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emptyValue>
      <Value Culture="cy-gb"><![CDATA[]]></Value>
      <Value Culture="en-gb"><![CDATA[]]></Value>
    </emptyValue>
    <noVaryByCulture>
      <Value><![CDATA[I don't vary by culture... :(]]></Value>
    </noVaryByCulture>
    <onlyCY>
      <Value Culture="cy-gb"><![CDATA[Rwy dim ond cael gwerth mewn CY]]></Value>
      <Value Culture="en-gb"><![CDATA[]]></Value>
    </onlyCY>
    <onlyEN>
      <Value Culture="cy-gb"><![CDATA[]]></Value>
      <Value Culture="en-gb"><![CDATA[I only have a value in EN]]></Value>
    </onlyEN>
    <textstring>
      <Value Culture="cy-gb"><![CDATA[Prawf]]></Value>
      <Value Culture="en-gb"><![CDATA[Test]]></Value>
    </textstring>
  </Properties>
</Content>