<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="60f99a5a-94b2-4dd9-a753-46fbb107f0ce" Alias="content" Level="2">
  <Info>
    <Name>Content</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="00f6e31e-5528-4516-af04-1e1c443398fc">contentControls</Composition>
      <Composition Key="228cece0-510f-4f8a-bc77-78961bf4926f">headerControls</Composition>
      <Composition Key="fdf13014-88b4-43ac-8d5e-343b105f8a63">mainImageControls</Composition>
      <Composition Key="5acbd76f-9a98-4405-9f83-3dc13f610f04">sEOControls</Composition>
      <Composition Key="e56b499b-91d3-4a65-b535-a10dc8c6aeef">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b640984a-c090-4719-b96b-11c4e44faf3c">content</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>