<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b24fa152-6e0a-4162-802e-e2dbd59d2abd" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="00f6e31e-5528-4516-af04-1e1c443398fc">contentControls</Composition>
      <Composition Key="08c26491-8046-4981-9a6a-43087da5201e">footerControls</Composition>
      <Composition Key="228cece0-510f-4f8a-bc77-78961bf4926f">headerControls</Composition>
      <Composition Key="fdf13014-88b4-43ac-8d5e-343b105f8a63">mainImageControls</Composition>
      <Composition Key="5acbd76f-9a98-4405-9f83-3dc13f610f04">sEOControls</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="40290b2a-6b73-4115-886c-8e00c2154ed6">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="60f99a5a-94b2-4dd9-a753-46fbb107f0ce" SortOrder="0">content</ContentType>
    <ContentType Key="4c0e819a-f2ba-4f5e-a365-652cc021144e" SortOrder="1">contact</ContentType>
    <ContentType Key="538f0db0-c1bb-48ab-8537-e52ec2a5dc02" SortOrder="2">articleList</ContentType>
    <ContentType Key="a652b5c9-eec4-4dd7-9f4b-4c8dbe53cb82" SortOrder="3">search</ContentType>
    <ContentType Key="2c9e6ee6-23da-459c-bce6-16558414594f" SortOrder="4">error</ContentType>
    <ContentType Key="75341a72-e44a-4907-8ae1-15f76b956e3b" SortOrder="5">xMLSitemap</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>