<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="32f72b4c-36a1-4e40-9c23-538ec810b614" Alias="migratorTest" Level="1">
  <Info>
    <Name>Migrator Test</Name>
    <Icon>icon-truck color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="32f72b4c-36a1-4e40-9c23-538ec810b614" SortOrder="0">migratorTest</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c470079f-af10-45a5-aaf0-5a2516e60c3a</Key>
      <Name>Block List</Name>
      <Alias>blockList</Alias>
      <Definition>8fba8a8d-5bd6-4815-a42c-056ae5775c12</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce9bed3e-d083-4b82-976d-85bc4fba5760</Key>
      <Name>Content Picker</Name>
      <Alias>contentPicker</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dda57d77-0c63-4678-b658-e32d4b75f699</Key>
      <Name>CultureTest</Name>
      <Alias>cultureTest</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>25b024ed-4b34-43bb-bf2d-1dae8c7b2d41</Key>
      <Name>Culture Test 2</Name>
      <Alias>cultureTest2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1075dae1-272c-4023-80e4-10a12f0ecf73</Key>
      <Name>Date Picker</Name>
      <Alias>datePicker</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf1bcc35-561e-400c-8688-b3cf8a62c9a8</Key>
      <Name>Date Picker with Time</Name>
      <Alias>datePickerWithTime</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b92e9c55-92db-4bc7-8db2-6e4e3d6f7c9f</Key>
      <Name>Media Picker</Name>
      <Alias>mediaPicker</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5b37a328-8071-4361-80a7-f5a0610b9313</Key>
      <Name>Media Picker (Legacy)</Name>
      <Alias>mediaPickerLegacy</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27dfaac5-633b-4411-97e5-bbd782f3d127</Key>
      <Name>Member Group Picker</Name>
      <Alias>memberGroupPicker</Alias>
      <Definition>fe60e50d-7561-47c5-9929-69c8e61b49c1</Definition>
      <Type>Umbraco.MemberGroupPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8159f5ce-fc67-4a3e-b819-58505f4dbc6f</Key>
      <Name>Member Picker</Name>
      <Alias>memberPicker</Alias>
      <Definition>1ea2e01f-ebd8-4ce1-8d71-6b1149e63548</Definition>
      <Type>Umbraco.MemberPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>574b8c9a-90d7-4b25-9716-b724b5f27073</Key>
      <Name>Multinode Tree Picker</Name>
      <Alias>multinodeTreePicker</Alias>
      <Definition>fa092c31-fc0d-4b6b-9937-5b7c889fdf14</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1ccb213e-cad9-4dbb-9b21-790a81635260</Key>
      <Name>Multinode Tree Picker (Single)</Name>
      <Alias>multinodeTreePickerSingle</Alias>
      <Definition>b79e02be-a974-43cc-9148-082afbc5e421</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41387f6b-6786-471d-b0d1-832dd8e2f1f9</Key>
      <Name>Multiple Media Picker</Name>
      <Alias>multipleMediaPicker</Alias>
      <Definition>1b661f40-2242-4b44-b9cb-3990ee2b13c0</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6e2b2089-6521-4d6a-84df-17e3cedcd2e3</Key>
      <Name>Multiple Media Picker (Legacy)</Name>
      <Alias>multipleMediaPickerLegacy</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b1ea7b3-c83b-4b47-a7eb-662db7eddb54</Key>
      <Name>Multi URL Picker</Name>
      <Alias>multiURLPicker</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c3e9a3bb-a3db-4f5c-9497-5db2077bbbe6</Key>
      <Name>Nested Content</Name>
      <Alias>nestedContent</Alias>
      <Definition>b60bab59-d4c5-4f1d-9bf1-098b00bb8350</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66d4a5ab-9c50-44c8-be3c-48e4f21251dc</Key>
      <Name>Old Culture Property</Name>
      <Alias>oldCultureProperty</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="propertiesToBeCustomMapped">Properties to be Custom Mapped</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b67e02ab-432e-4a0e-b6eb-a0305e62cca0</Key>
      <Name>Old Renamed Property Test</Name>
      <Alias>oldRenamedPropertyTest</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="propertiesToBeCustomMapped">Properties to be Custom Mapped</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8bfc1a43-d31f-460b-b374-cb2396ea907e</Key>
      <Name>Rich Text</Name>
      <Alias>richText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a93061cf-530f-4b38-a775-5f9fbb2fa234</Key>
      <Name>Single URL Picker</Name>
      <Alias>singleURLPicker</Alias>
      <Definition>b7b4c4c2-bebd-45c7-a1e1-d6a1f2099822</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>662671ff-c01a-43a1-87a1-0489a4eb9fdc</Key>
      <Name>Updated Media Picker</Name>
      <Alias>updatedMediaPicker</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[I'm legacy here]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="autoMapConvertTest">Auto Map Convert Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6bf52f0-7b15-472d-b31d-056b3b46656f</Key>
      <Name>User Picker</Name>
      <Alias>userPicker</Alias>
      <Definition>e1c617e5-eaf2-4377-8319-3f652d060841</Definition>
      <Type>Umbraco.UserPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Pickers</Caption>
      <SortOrder>0</SortOrder>
      <Alias>pickers</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Properties</Caption>
      <SortOrder>1</SortOrder>
      <Alias>properties</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Properties to be Custom Mapped</Caption>
      <SortOrder>2</SortOrder>
      <Alias>propertiesToBeCustomMapped</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Auto Map Convert Test</Caption>
      <SortOrder>3</SortOrder>
      <Alias>autoMapConvertTest</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>