<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="75341a72-e44a-4907-8ae1-15f76b956e3b" Alias="xMLSitemap" Level="2">
  <Info>
    <Name>XML Sitemap</Name>
    <Icon>icon-sitemap color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e56b499b-91d3-4a65-b535-a10dc8c6aeef">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>xMLSitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b2e04dec-1a01-4011-9988-fa817a05e444">xMLSitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>